<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.darkbloom.powermetrics</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/sudo</string>
    <string>-n</string>
    <string>/usr/bin/powermetrics</string>
    <string>--samplers</string>
    <string>cpu_power,gpu_power</string>
    <string>-i</string>
    <string>60000</string>
    <string>-o</string>
    <string>/tmp/darkbloom-pm-raw.log</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__HOME__/.darkbloom/pm-start.out</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/.darkbloom/pm-start.out</string>
</dict>
</plist>
